{% load static %}
<html>

<head>
  <title>Your name</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel = "stylesheet" type = "text/css" href = "{% static 'formapp/main.css' %}">
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/Home">Afrah</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/Home">Input Activity</a>
      <a class="nav-item nav-link active" href="/form_display">Activities<span class="sr-only">(current)</span></a>
    </div>
  </div>
</nav>

<div class = "jumbotron isi">
  <h3 class = "text-left">Here are your Activities!</h3>
</div>

  <div class = "jumbotron fill">

    <h1>Your Activities:</h1>
    {% for activity in activities%}
      <h3>Date: {{ activity.your_date }}</h3>
      <h3>Time: {{ activity.your_time }}</h3>
      <h3>Name of Activity: {{ activity.your_kegiatan }}</h3>
      <h3>Place: {{ activity.your_place }}</h3>
      <h3>Category: {{ activity.your_kategori }}</h3>
      <h4>***</h4>
    {% endfor %}

    <form action = "/deleteAll/" method = "get">
      <input type = 'submit' class = 'btn btn-outline-primary' value = "Delete All">
    </form>

    <!-- <button type="button" class="btn btn-outline-primary" href = "/deleteAll/">Delete All</button> -->


</div>
<footer class="page-footer font-small blue">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© Afrah Hardian:
      <a href="https://afrahsweb.herokuapp.com/">Go to my Website!</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->

</body>

</html>
