{% load static %}
<html>

<head>
  <title>Form</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel = "stylesheet" type = "text/css" href = "{% static 'formapp/main.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Prata" rel="stylesheet">
<head>

<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/Home">Afrah</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Input Activity <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="/form_display">Activities</a>
    </div>
  </div>
</nav>

<div class = "jumbotron isi">
  <h3 class = "text-left">Hello there Afrah, time to put in your new Activity!</h3>
</div>



  <div class = "jumbotron fill">
    <div class = "row">
      <div class = "col-sm-2"></div>
      <div class = "col-sm-8">
        <form action="/Home/" method="POST" class = "thisform">
          {% csrf_token %}
          {{ form }}
          <input type="submit" value="Submit">
      </form>
      </div>
    </div>

</div>

<div class = "jumbotron thanks">
  <p class = "text-center">ONWARDS!</p>
</div>

<footer class="page-footer font-small blue">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© Afrah Hardian:
      <a href="https://afrahsweb.herokuapp.com/">Go to my Website!</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->

</body>

</html>
